@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/roboto-regular-webfont.eot");
  src: url("../fonts/Roboto/roboto-regular-webfont.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/roboto-regular-webfont.woff") format("woff"),
  url("../fonts/Roboto/roboto-regular-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Fontawesome";
  src: url("../fonts/Fontawesome/fontawesome-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}